{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>入力フォーム</title>
		<meta name= "viewport"
		 content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'css/guestform.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/guestform_res.css' %}">
	</head>
	<body>
		<div class="header">

		</div>

		<div class="main">	
			<p>以下の登録項目にご記入ください。</p>
			<form action ="{% url 'pollapp:testpage'%}" method="post">
			<ul>
				<li>名前</li>
				<li class="form">{{ form.name }}</li>
				<li>フリガナ</li>
				<li class="form">{{ form.furi }}</li>
				<li>メールアドレス</li>
				<li class="form">{{ form.email }}</li>
				<li>メモ</li>
				<li class="form">{{ form.memo }}<li/>
			</ul>
			<p>※他の参加者をお連れする方は、メモにその方の名前をご記入ください。</p>
			
			{% csrf_token %}
			<button type="submit" class="btn">送信</button>
			</form>
		</div>

		<div class="footer">
			
		</div>
	</body>
</html>