
body{
	font-family: "Avenir Next"
}

.header{
	height: 40px;
	width: 100%;
	background-color:#4169E1;
}

.main{
	width:550px;
	padding-top:20px;
	padding-left:50px;
}

.main ul{
	width:100%;
	list-style:none;
	margin:0px;
	padding-left:0px;
	display:block;
	text-align: left;
}

.main li{
	padding-top:2px;
	padding-bottom:2px;
}

.form{
	width:200px;
	padding: 10px 0px;
}

.btn {
	height:25px;
	width:60px;
	margin:10px 10px;
	font-size:15px;
}
