
body{
	font-family: "Avenir Next"
	-webkit-text-size-adjust:100%;
	overflow: :hidden;
}

header{
	height: 40px;
	width: 100%;
	background-color:#4169E1;
}

main{
	width:100%;
	margin-top:20px;
	margin-left:30px;
}



