@media (max-width:1000px ){
	body{
		width:100%;
	}
	.btn{
		font-size:10px;
	}
	p{
		width:85%;
	}
}

@media (max-width:670px ){
	body{
		width:100%;
	}
	.btn{
		font-size:8px;
		-webkit-appearance:none;
	}
	p{
		width:85%;
	}
}